<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-12">
		<title> Nova Dieta </title>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link href="style.css" rel="stylesheet" type="text/css" media="all">
		<style>
			#container{
				width: 1200px;  
			}
		</style>
	</head>
	
	<body>
	<div id="container">
	<center>
		<h1> Nova Dieta </h1>
		<form>
			Nome:<br>
			<input type="text" name="nome"><br><br>
			<table class = "pure-table" style="width:30%" border = "1px">
			  <tr>
				<th>Ração</th>
				<th>Quantidade</th>
				<th>Horário</th> 
			  </tr>
			  <tr>
				<td><input type="text" name="nome"><br></td>
				<td><input type="text" name="nome"><br></td>
				<td><input type="text" name="nome"><br></td> 
			  </tr>
			  <tr>
				<td><input type="text" name="nome"><br></td>
				<td><input type="text" name="nome"><br></td>
				<td><input type="text" name="nome"><br></td> 
			  </tr>
			   <tr>
				<td><input type="text" name="nome"></td>
				<td><input type="text" name="nome"></td>
				<td><input type="text" name="nome"></td> 
			  </tr>
			  <tr>
				<td><input type="text" name="nome"></td>
				<td><input type="text" name="nome"></td>
				<td><input type="text" name="nome"></td> 
			  </tr>
			</table>
		<div id="botao">
			<input class="pure-button" type="submit" value="Adicionar">
			<input class="pure-button" type="reset" value="Limpar">
			<a class="pure-button" href = "dieta.html"> Voltar </a>	
		</div>
		</form>
	</center>
	</div>
	</body>
</html>