<!DOCTYPE html>
<!-- CR2 -->
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link href="style.css" rel="stylesheet" type="text/css" media="all">
		<meta charset = "UTF-12">
		<title> Adicionar Pet </title>
	</head>
	
	<body>
	<div id="container">
		<center><h2> Entre com os Dados do seu Bichinho: </h2>
		<form class="pure-form">
			Nome:<br>
			<input type="text" name="nome"><br><br>
			Seu bichinho é um:
			<select class="pure-button" name="race">
				<option value="Gato">Gato</option>
				<option value="Pássaro">Pássaro</option>
				<option value="Cachorro">Cachorro</option>
			</select><br><br>
			da Raça:
			<input type="text" name="race"><br><br>
			Sexo:
			<input type="radio" name="gender" value="male" checked> Macho
			<input type="radio" name="gender" value="female"> Fêmea<br><br>
			Idade:<br>
			<input type="text" name="race"><br><br>
			Peso:<br>
			<input type="text" name="race"><br><br>
		<div id="botao">
			<input class="pure-button" type="submit" value="Salvar">
			<input class="pure-button"type="reset" value="Limpar">
			<a class="pure-button" href="principal.html"> Voltar </a><br><br>
		</div>
		</center>
		</form>
	</div>
	</body>
</html>