 <!DOCTYPE html>
 <!-- CR5, CR6-->
<html>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link href="style.css" rel="stylesheet" type="text/css" media="all">
		<meta charset = "UTF-12">
<head>

</head>
<body>
<div id="container">
<center>
	<h2>Atualizar Cartão de Vacinação</h2>
	<form class="pure-form">
	  <br>
	  Vacina:<br>
	  <input type="text" name="Vacina"><br>
	  <br>
		Data:<br>
	  <input type="date" name="Data"><br>
	  <br>
		Veterinário:<br>
	  <input type="text" name="Vet"><br>
	  <br><br><br>
	<div id="botao">
	  <input class="pure-button" type="submit" value="Cadastrar"><br>
	  <br>
	  <a class="pure-button" href="cartaoVacina.html"> Voltar </a> <br>
	</div>
	</form> 	

</center>
</div>
</body>
</html>
