 <!DOCTYPE html>
 <!-- CR5, CR6-->
<html>

<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link href="style.css" rel="stylesheet" type="text/css" media="all">
		<meta charset="UTF-12">
		<title> Smart Pet </title>
</head>
<body>
<div id="container">
<center>
<h2>Cadastrando novo evento</h2>

<form class = "pure-form" action="/action_page.php">
Pet:<br>
 <select name="cars">
  <option value="Jolenio">Jonelio</option>
  <option value="sebatian">sebastian</option>
  <option value="lucia">lucia</option>
  <option value="floquinho">floquinho</option>
</select> <br>
  <br>
  Evento:<br>
  <input type="text" name="Evento"><br>
  <br>
    Data:<br>
  <input type="date" name="Data"><br>
  <br><br>
  
 <div id="botao">
	<input class="pure-button" type="submit" value="Cadastrar">
	<br><br>
	<a class="pure-button" href="agenda.html"> Voltar </a>
 </div>
</form> 

</center>
</div>
</body>
</html>
