<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link href="style.css" rel="stylesheet" type="text/css" media="all">
		<meta charset="UTF-12">
		<title> Smart Pet </title>
	</head>
	<body>
	<center>
	<div id="container">
		<h2> Configurações do QR Code: </h2>
		<form class="pure-form">
			<input type="checkbox" name="op1" value="dono"> Nome do Dono<br>
			<br>
			Endereço: <br>
			<input type="radio" name="op2" value="endreço"> Endereço (Total) <br>
			<input type="radio" name="op2" value="endreço"> Endereço (Bairro) <br>
			<input type="radio" name="op2" value="endreço"> Não desejo exibir meu endereço <br>
			<br>
			<input type="checkbox" name="op3" value="tel"> Telefone <br>
			<br>
			<input type="checkbox" name="op4" value="dono"> Perfil Facebook<br><br><br> 
		<div id="botao">  
			<input class="pure-button" type="submit" value="Salvar"> <br> <br> 
			<a class="pure-button" href="principal.html"> Voltar </a>
		</div>  
		</form>
	</div>
	</center>
	</body>
</html>