<!DOCTYPE html>
<!-- CR4 -->
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link href="style.css" rel="stylesheet" type="text/css" media="all">	
		<meta charset = "UTF-12">
		<title> Controle de Dieta </title>
	</head>
	
	<body>
	<center>
	<div id="container">
		<h1> Dieta </h1>
		<form>
			<h2> Crescimento </h2>
			<table class="pure-table" style="width:30%" border = "1px">
			  <tr>
				<th>Ração</th>
				<th>Quantidade</th>
				<th>Horário</th> 
			  </tr>
			  <tr>
				<td>Sache sabor Carne</td>
				<td>1x</td>
				<td>12:00</td> 
			  </tr>
			  <tr>
				<td>Ração com Vitaminas para Filhotes</td>
				<td>200g</td>
				<td>10:00  17:00</td> 
			  </tr>
			   <tr>
				<td>Ração normal</td>
				<td>100g</td>
				<td>19:00 <br>9:00</td> 
			  </tr>
			</table>
			<br><br>
		<div id="botao">
			<a class="pure-button" href = "addDieta.html"> Adicionar Nova Dieta</a><br><br>
			<a class="pure-button" href = "editarDieta.html"> Editar Dieta</a><br><br>
			<a class="pure-button" href = "perfilPet.html"> Voltar </a>		
		</div>
		</form>
	</div>
	</center>
	</body>
</html>