<!DOCTYPE html>
<!-- CR1 -->
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link href="style.css" rel="stylesheet" type="text/css" media="all">
		<meta charset="UTF-12">
		<title> Smart Pet </title>
	</head>

	<body>
		<div id = "container">
		<center>
		<h3> Qual Usuario deseja editar? </h3>
		 <form action="Alterar.php" method="post" class ="pure-form">
 			Usuario (Apelido):<br>
  			<input type="text" name="usuario"><br><br>
			
			
			<br><br>
			<div id ="button">
			<input class = "pure-button" type="submit" value="Editar"><br><br>
			<a class="pure-button" href="../index.html"> Voltar </a><br><br>
			</div>
			<br><br>
			
		</form> 
		</center>
		</div>
	</body>

</html>