<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link href="style.css" rel="stylesheet" type="text/css" media="all">
		<meta charset = "UTF-12">
		<title> Meus Pets </title>
	</head>
	
	<body>
	<div id= "container">
	<center>
		<h1> Meus Pets </h1>
		<form>
		
		<div id="botao">
		<ul>
			<a class="pure-button" href = "perfilPet.html">	<h2> Jolenio </h2> </a><br><br>
			<a class="pure-button" href = "#">	<h2> Sebastian </h2> </a><br><br>
			<a class="pure-button" href = "#">	<h2> Lucia </h2> </a><br><br>
			<a class="pure-button" href = "#">	<h2> Floquinho </h2> </a><br><br>
		</ul>
			<a class="pure-button" href = "addPet.html"> Adicionar Pet</a><br><br>
			<a class="pure-button" href = "principal.html"> Voltar </a>	
		</div>
		
		</form></center>
	</div>
	</body>
</html>