<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link href="style.css" rel="stylesheet" type="text/css" media="all">
		<meta charset = "UTF-12">
		<title> Jolênio </title>
	</head>
	
	<body>
	<center>
	<div id="container">
		<h1> Jolênio </h1>
		<form>
			<img src="jolenio.jpeg" alt="jolenio" height="200" width="150">
			<table class="pure-table" style="width:30%">
			  <tr>
				<th>Raça</th>
				<th>Idade</th>
				<th>Sexo</th> 
				<th>Peso</th>
				<th>Proximo Compromisso</th>
			  </tr>
			  <tr>
				<td>Pastor Alemão</td>
				<td>6 meses</td>
				<td>Macho</td> 
				<td>30kg</td>
				<td>Tosa 20/05</td>
			  </tr>
			</table>
		<div id="botao">
			<a class="pure-button" href = "editarPet.html"> Editar Informações </a>	
			<a class="pure-button" href = "dieta.html"> Dieta </a><br><br>
			<a class="pure-button" href = "cartaoVacina.html"> Cartão de Vacinação </a>	
			<a class="pure-button" href = "agenda.html"> Abrir Compromissos </a>
			<a class="pure-button" href = "geraQR.html"> Gerar QR Code </a>	<br><br>
			<a class="pure-button" href = "#"> Gerar Aviso </a><br><br>
			<br><a class="pure-button" href = "meusPets.html"> Voltar </a>		
		</div>
		</form>
	</div>
	</center>
	</body>
</html>