<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<link href="style.css" rel="stylesheet" type="text/css" media="all">
		<meta charset="UTF-12">
		<title> Smart Pet </title>
	</head>

	<body>
	<div id="container">
		<center><h1> Smart Pet </h1>
		 <form>
		 <div id="botao">
 			<a class="pure-button" href="addPet.html"> Cadastrar Pet </a><br><br>
			<a class="pure-button" href="meusPets.html"> Meus Pets </a><br><br>
			<a class="pure-button" href="configQR.html"> Configurar QR</a><br><br>
			<a class="pure-button" href="agenda.php"> Agenda </a><br><br>
			<a class="pure-button" href="../index.html"> Logout </a><br><br>
		</div>	
		</form>
	</div>
	</body></center>

</html>